
# === Python ===
__pycache__/
venv/
.venv/

# === macOS ===
.DS_Store

# === VSCode ===
.vscode/

# === Entornos y archivos de configuración ===
.env
.env.*
*.env
*.env.*

neo4j_data/
neo4j_logs/
neo4j_plugins/