services:
  agent_product:
    build: .
    restart: always
    env_file:
      - .env
    ports:
      - "8100:8000"
    volumes:
      - .:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"

    networks:
    - cluster

networks:
  cluster:
    external: true